/* buciners.css */

/* File ini mengatur visibility kontainer utama */
.kontener {
    display: none;
}

/* Hapus file ini jika Anda tidak menggunakannya dan pindahkan .kontener { display: none; } ke style.css */
