/*Author    : Farrel Aulia Irfealdo*/
/*Instagram : https://instagram.com/null.xd_*/
/*Website   : https://tako.id/nullxd*/

/* Style untuk Tanggal (Rabu, 10 Desember 2025) */
.ml1 {
    /* Padding di atas konten tanggal */
    padding-top: 15px; 
    color: #333333; 
    font-family: 'Playfair Display', serif; 
    font-weight: 700; 
    /* Ukuran font disesuaikan agar muat di layar kecil */
    font-size: 1.4em; 
}

.ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    /* PENTING: Mencegah teks pindah baris */
    white-space: nowrap; 
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ff6b82; /* Warna pink/merah muda */
    transform-origin: 0 0;
}

.ml1 .line1 {
    top: 0;
}

.ml1 .line2 {
    bottom: 0;
}

/* Style untuk Subteks (Hari Ulang Tahun Ayla Rahma Dianty!) */
.ml2 {
    color: #ff6b82; /* Warna pink/merah muda */
    font-weight: 500;
    font-size: 1.1em;
    padding-top: 5px;
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}

/* Responsifitas khusus teks (untuk layar HP) */
@media (max-width: 768px) {
    .ml1 {
        font-size: 1.2em;
    }
    .ml2 {
        font-size: 0.9em;
    }
}
