/*Author    : Farrel Aulia Irfealdo*/
/*Instagram : https://instagram.com/null.xd_*/
/*Website   : https://tako.id/nullxd*/

.ml1 {
    padding-top: 15px; 
    color: #333333; 
    font-family: 'Playfair Display', serif; 
    font-weight: 700; 
    font-size: 1.4em; 
}

.ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    white-space: nowrap; 
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ff6b82; 
    transform-origin: 0 0;
}

.ml1 .line1 {
    top: 0;
}

.ml1 .line2 {
    bottom: 0;
}

.ml2 {
    font-weight: 300;
    font-size: 1em;
    color: #555;
    margin-top: 5px;
}

/* Style untuk ucapan utama di Halaman 4 */
.ucapan-wrapper {
    margin-top: 20px;
}

.ucapan {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    color: #ff6b82;
    margin-bottom: 10px;
}

.isiucapan {
    font-weight: 400;
    line-height: 1.6;
    color: #666;
    max-width: 450px;
    margin: 0 auto;
    text-align: justify;
    padding: 0 10px;
}
