/* efekteks.css - Text Animation Effects */

.ml1 {
  padding-top: 20px;
  color: #e73c7e;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 1.6em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  white-space: nowrap;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #e73c7e, #ee7752);
  transform-origin: 0 0;
  border-radius: 2px;
}

.ml1 .line1 {
  top: 0;
}

.ml1 .line2 {
  bottom: 0;
}

.ml2 {
  color: #666;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 25px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

/* Responsive untuk text effects */
@media (max-width: 768px) {
  .ml1 {
    font-size: 1.3em;
  }
  
  .ml2 {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .ml1 {
    font-size: 1.1em;
    padding-top: 15px;
  }
  
  .ml1 .line {
    height: 3px;
  }
  
  .ml2 {
    font-size: 0.95em;
    margin-bottom: 20px;
  }
}