/* responsif.css - Tempat untuk kode Media Queries */

/* Contoh: */
/*
@media (max-width: 600px) {
    .judul_halaman {
        font-size: 1.2em;
    }
    .dalemnya_halaman {
        padding-top: 60px;
    }
}
*/
