/*Author    : Farrel Aulia Irfealdo*/
/*Instagram : https://instagram.com/null.xd_*/
/*Website   : https://tako.id/nullxd*/

@media (max-width: 768px) {
    
    /* Ukuran Teks Layar Depan */
    .kontener2 h1 {
        font-size: 2em;
    }
    
    /* Ukuran Header Tetap (I Love You / Ayla Rahma Dianty) */
    .judul_halaman {
        font-size: 1.5rem;
    }
    
    /* Ukuran Judul Halaman Konten (Aku, Sayang, Kamu) */
    .dalemnya_halaman .judul_section {
        font-size: 1.8em; 
        margin-top: 20px; /* Jarak dikurangi untuk layar kecil */
    }
    
    /* Gambar menyesuaikan layar kecil */
    section .gambar {
        max-width: 90%;
        height: auto;
    }
}
